
#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
* {
  box-sizing: border-box;
}

input{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 2rem;
  padding: 0 0.25rem;
  border-radius: 10px;
}
input:focus {
  outline: none;
  background: #ebffdf;
  border-color: #b3c9a1;
}
.invalid{
  border-color: red;
  background: #ffd7d7;
}
button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin-top: 3%;
  border-radius: 10px;
}

#goals {
  width: 30rem;
  max-width: 90%;
  margin:2% auto;
  line-height: 2rem;
  background: #8b005d;
  border-radius: 10px;
  padding-left: 2%;
  font-size: large;
  font-weight: bolder;
  color: white;
}